@media(max-width: 640px){
    .image-developer{
        width: 100px;
        height: 100px;
    }
    .infor-home-developer h1 {
        font-size: 1.5em;
    }
    .img-astrounaut {
        display: none;
    }
    .icones {
        width: 20px;
        height: 20px;
    }
    .imagem-astronauta {
        width: 150px;
        height: 200px;
    }
    .projetos-contents {
        min-width: 70%;
        height: 150px;
    }
    .imagens-projetos {
        width: 100%;
        height: 100%;
    }
    #projetos h1{
        font-size: 1.4em;
    }
    #voltar {
        width: 70px;
        height: 40px;
        font-size: 0.7em;
    }
    .container-faculdade h1 {
        font-size: 1em;
        text-align: le7;
    }
    .container-faculdade p {
        font-size: 0.8em;
        text-align: le7;
    }
    .minha-educacao {
        font-size: 1em;
    }
    form{
        width: 80%;
    }
}